@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

.weatherCard {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding: 16px;
  background: #2b2b2b;
}
.weatherCard h3,
h5,
span {
  text-align: center;
  font-weight: 400;
  margin:0;
  margin-top: 8px;
}
.weatherCard h3 {
  font-size: 24px;
}
.weatherCard h5,
span {
  font-size: 16px;
}

.weatherCard img {
  width: 80px;
  height: 80px;
}

.bg-01d {
  background: rgba(252, 191, 36, 0.7);
}
.bg-01n {
  background: rgba(129, 193, 218, 0.7);
}
.bg-02d {
  background: linear-gradient(180deg, rgba(244, 248, 255, 0.7) 0%, rgba(252, 191, 37, 0.7) 100%);
}
.bg-02n {
  background: linear-gradient(180deg, rgba(240, 246, 254, 0.7) 0%, rgba(134, 195, 220, 0.7) 100%);
}
.bg-03d {
  background: rgba(230, 239, 252, 0.7);
}
.bg-03n {
  background: rgba(230, 239, 252, 0.7);
}
.bg-04d {
  background: linear-gradient(180deg, rgba(244, 248, 255, 0.7) 0%, rgba(147, 154, 166, 0.7) 100%);
}
.bg-04n {
  background: linear-gradient(180deg, rgba(244, 248, 255, 0.7) 0%, rgba(147, 154, 166, 0.7) 100%);
}
.bg-09d {
  background: linear-gradient(180deg, rgba(244, 248, 255, 0.7) 0%, rgba(67, 134, 239, 0.7) 100%);
}
.bg-09n {
  background: linear-gradient(180deg, rgba(244, 248, 255, 0.7) 0%, rgba(67, 134, 239, 0.7) 100%);
}
.bg-10d {
  background: linear-gradient(180deg, #f4f8ff 0%, #fcbf24 49.27%, #4386ef 100%);
}
.bg-10n {
  background: linear-gradient(180deg, #f4f8ff 0%, #86c3dc 49.27%, #4386ef 100%);
}
.bg-11d {
  background: linear-gradient(180deg, rgba(244, 248, 255, 0.7) 0%, rgba(245, 158, 11, 0.7) 100%);
}
.bg-11n {
  background: linear-gradient(180deg, rgba(244, 248, 255, 0.7) 0%, rgba(245, 158, 11, 0.7) 100%);
}
.bg-13d {
  background: linear-gradient(180deg, #f4f8ff 0%, rgba(252, 191, 36, 0.7) 42.5%, #72b9d5 100%);
}
.bg-13n {
  background: linear-gradient(180deg, #f4f8ff 0%, rgba(134, 195, 220, 0.7) 46.15%, #86c3dc 100%);
}
